* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100px;
  background-color: #090b13;
  color: white;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
}

.logo {
  font-size: 35px;
}

.main_div {
  background-color: white;
  margin: 25px;
}

.main_div h1 {
  margin-bottom: 15px;
  text-transform: uppercase;
  text-decoration: underline;
}

.participants {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 150px;
}

.participants h2 {
  margin-left: 35px;
}
